In [ ]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [8]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
#A DataFrame in pandas is a 2-dimensional labeled data structure, similar to a table or spreadsheet, with columns of potentially different data types.
#It can be seen as a collection of Series objects where each Series represents a column.

#In contrast, a pandas Series is a 1-dimensional labeled array that can hold any data type. It can be thought of as a single column of a DataFrame.

#A DataFrame can represent a dataset with multiple columns like a CSV file, while a Series can represent a single column of that dataset. For instance, 
#a DataFrame can store information about students, including their names, ages, and genders, where each column corresponds to a Series
#(e.g., 'Name' Series, 'Age' Series, 'Gender' Series).

In [4]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
#Can you give an example of when you might use one of these functions?

In [1]:
# Some common functions to manipulate data in a Pandas DataFrame include:

# head() - Used to display the first few rows of the DataFrame, helpful for previewing data.
# groupby() - Used to group data based on one or more columns, allowing for aggregation and analysis.
# fillna() - Used to fill missing values in the DataFrame with specified values or methods.
# Example: If you have a sales dataset in a DataFrame, you can use groupby() to group the data by product category and
# calculate the total sales for each category."

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
# DataFrame and panel is mutable in nature

In [ ]:
Q7 Create a DataFrame using multiple Series. Explain with an example.

In [5]:
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name,
    'Age': age,
    'Gender': gender
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female